# Intro to Pandas

## Rename Inex and Columns

In [1]:
# Basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

#### Create the DF

In [2]:
# set the data
npdata = np.random.randn(16).reshape(4,4)

# Create the DF
myDF = DataFrame(data= npdata, index = ['A', 'B', 'C', 'D'], columns= ['Col1', 'Col2', 'Col3', 'Col4'])

# Show
myDF

       Col1      Col2      Col3      Col4
A -0.329807 -0.938674 -1.444394  0.457312
B  2.591716 -0.895230 -0.621696 -0.036374
C  0.089841  1.407620 -0.213759 -0.879033
D -0.044178  0.067692 -0.131929  0.636919

## The .rename() method

### Using Axis-Style parameters

Put everything lower case

In [3]:
# On index
myDF.rename(str.lower, axis='index')

       Col1      Col2      Col3      Col4
a -0.329807 -0.938674 -1.444394  0.457312
b  2.591716 -0.895230 -0.621696 -0.036374
c  0.089841  1.407620 -0.213759 -0.879033
d -0.044178  0.067692 -0.131929  0.636919

Put everything upper case

In [4]:
# On Columns
myDF.rename(str.upper, axis='columns')

       COL1      COL2      COL3      COL4
A -0.329807 -0.938674 -1.444394  0.457312
B  2.591716 -0.895230 -0.621696 -0.036374
C  0.089841  1.407620 -0.213759 -0.879033
D -0.044178  0.067692 -0.131929  0.636919

### Rename using mapping

Here we map specific index values

In [5]:
# On index
myDF.rename(index = {'A':'alfa', 'B':'beta'})

          Col1      Col2      Col3      Col4
alfa -0.329807 -0.938674 -1.444394  0.457312
beta  2.591716 -0.895230 -0.621696 -0.036374
C     0.089841  1.407620 -0.213759 -0.879033
D    -0.044178  0.067692 -0.131929  0.636919

In [6]:
# On columns
myDF.rename(columns={'Col1':'A1', 'Col2':'B1'})

         A1        B1      Col3      Col4
A -0.329807 -0.938674 -1.444394  0.457312
B  2.591716 -0.895230 -0.621696 -0.036374
C  0.089841  1.407620 -0.213759 -0.879033
D -0.044178  0.067692 -0.131929  0.636919

## Renaming using a list

Rename all columns in one shot

In [7]:
# On columns
myDF.columns = ['C1', 'C2', 'C3', 'C4']
myDF

         C1        C2        C3        C4
A -0.329807 -0.938674 -1.444394  0.457312
B  2.591716 -0.895230 -0.621696 -0.036374
C  0.089841  1.407620 -0.213759 -0.879033
D -0.044178  0.067692 -0.131929  0.636919

Rename all index rows in one shot

In [9]:
# On rows
myDF.index = [1,2,3,4]
myDF

         C1        C2        C3        C4
1 -0.329807 -0.938674 -1.444394  0.457312
2  2.591716 -0.895230 -0.621696 -0.036374
3  0.089841  1.407620 -0.213759 -0.879033
4 -0.044178  0.067692 -0.131929  0.636919

# Exercises!