# Built-in Functions

The Python interpreter has a number of functions and types built into it that are always available

## list()

It create an empthy list or a full list from iterable objects.

In [23]:
w = list()
w

[]

In [24]:
z = list('hello')
z

['h', 'e', 'l', 'l', 'o']

## range()

It allows to create a list of integer numbers within a specific range.

In [1]:
lst = [0,1,2,3,4]

for el in lst:
    print(el)

0
1
2
3
4

Using range:

In [2]:
range(5)

range(0, 5)

In [3]:
for el in range(5):
    print(el)

0
1
2
3
4

## enumerate()

It allows us to loop over something and have an automatic counter.

It associate a number to every object encoutered.

In [15]:
lst = ['apple', 'banana', 'grapes', 'pear']

enumerate(lst)

In [17]:
# it create a list of tuple
list(enumerate(lst))

[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]

Like tuple unpacking

In [6]:
lst = ['apple', 'banana', 'grapes', 'pear']

for counter, value in enumerate(lst):
    print(counter, value)

0 apple
1 banana
2 grapes
3 pear

In [28]:
lst = ['apple', 'banana', 'grapes', 'pear']

# we can change the start number
for counter, value in enumerate(lst, 10):
    print(counter, value)

10 apple
11 banana
12 grapes
13 pear

## zip()