# Built-in Functions

The Python interpreter has a number of functions and types built into it that are always available.

We already used some of those function, let's explore deeper some of them.

In [1]:
import webbrowser
url = 'https://docs.python.org/3/library/functions.html'
webbrowser.open(url)

True

## all()
Return True if all elements of the iterable are true (or if the iterable is empty).

In [5]:
all([5<10, 1<3])

True

In [16]:
# my own function
def my_all(iterable):
    for el in iterable:
        if not el:
            return False
    
    return True

In [18]:
my_all([5>10, 1<3])

False

## list()

It create an empthy list or a full list from iterable objects.

In [8]:
w = list()
w

[]

In [9]:
z = list('hello')
z

['h', 'e', 'l', 'l', 'o']

## sorted()

In [21]:
sorted(z)

['e', 'h', 'l', 'l', 'o']

## set()

In [20]:
set(z)

{'e', 'h', 'l', 'o'}

## range()

It allows to create a list of integer numbers within a specific range.

In [1]:
lst = [0,1,2,3,4]

for el in lst:
    print(el)

0
1
2
3
4

Using range:

In [2]:
range(5)

range(0, 5)

In [3]:
for el in range(5):
    print(el)

0
1
2
3
4

## enumerate()

It allows us to loop over something and have an automatic counter.

It associate a number to every object encoutered.

In [15]:
lst = ['apple', 'banana', 'grapes', 'pear']

enumerate(lst)

In [17]:
# it create a list of tuple
list(enumerate(lst))

[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]

Like tuple unpacking

In [6]:
lst = ['apple', 'banana', 'grapes', 'pear']

for counter, value in enumerate(lst):
    print(counter, value)

0 apple
1 banana
2 grapes
3 pear

In [28]:
lst = ['apple', 'banana', 'grapes', 'pear']

# we can change the start number
for counter, value in enumerate(lst, 10):
    print(counter, value)

10 apple
11 banana
12 grapes
13 pear

## zip()

In [18]:
a = [10, 20, 30, 40]
b = ['I', 'Love', 'Surfing']

zipped = zip(a, b)

In [21]:
lst = list(zipped)

In [22]:
for el in lst:
    print(el)

# No execise for this lesson...